
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Productos en Tiempo Real</title>
  <link rel="stylesheet" href="/public/css/style.css">
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <h1>Productos en Tiempo Real</h1>
  
  
  <form id="productForm">
    <input type="text" name="title" placeholder="Título" required>
    <input type="text" name="description" placeholder="Descripción" required>
    <input type="number" name="price" placeholder="Precio" required>
    <button type="submit">Agregar Producto</button>
  </form>
  
  
  <ul id="productsList">
    {{#each products}}
      <li data-id="{{this.id}}">
        {{this.id}} - {{this.title}}: {{this.description}} (Precio: ${{this.price}})
        <button class="deleteBtn" data-id="{{this.id}}">Eliminar</button>
      </li>
    {{/each}}
  </ul>
  
  <script>
    const socket = io();

    function updateProductsList(products) {
      const productsList = document.getElementById('productsList');
      productsList.innerHTML = '';
      products.forEach(product => {
        const li = document.createElement('li');
        li.setAttribute('data-id', product.id);
        li.innerHTML = `
          ${product.id} - ${product.title}: ${product.description} (Precio: $${product.price})
          <button class="deleteBtn" data-id="${product.id}">Eliminar</button>
        `;
        productsList.appendChild(li);
      });
    }

    socket.on('updateProducts', (products) => {
      updateProductsList(products);
    });

    const productForm = document.getElementById('productForm');
    productForm.addEventListener('submit', (e) => {
      e.preventDefault();
      const formData = new FormData(productForm);
      const productData = {
        title: formData.get('title'),
        description: formData.get('description'),
        price: formData.get('price')
      };
      socket.emit('addProduct', productData);
      productForm.reset();
    });

    document.getElementById('productsList').addEventListener('click', (e) => {
      if (e.target && e.target.classList.contains('deleteBtn')) {
        const productId = e.target.getAttribute('data-id');
        socket.emit('deleteProduct', productId);
      }
    });
  </script>
</body>
</html>
